*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;

}

#main{
    width: 100%;
    height: 100%;
    background-color: white;
}

nav{
   
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    gap: 20px;
    justify-content: end;
    padding-right: 30px;
    font-size: 30px ;
}

a{
    text-decoration: none;
    color: black;
}

nav i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: black;
    text-align: center;
}

#left-to-left{
    width: 100%;
    padding:40px 50px;
}

h1{
    font-size: 65px;
    line-height: 65px;
    text-align: left;
    font-weight: 500;
}

#center{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#center p{
    font-weight: 40;
    font-size: 18px;
    line-height: 25px;
}

#right{
    width: 20%;
    
}

.elem{
    padding: 5px 0;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.elem a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}
.elem i{
    font-size: 20px;
    font-weight: 300;
    opacity: 0;
}
.elem:hover{
    background-color: ghostwhite;
}

.elem:hover a{
    text-decoration: underline;
   
}

.elem:hover i{
    opacity: 1;
}

#bottom{
    height: 400px;
    width: 100%;
    background-image: url(https://plus.unsplash.com/premium_photo-1683121271931-669e09a55414?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHNob3BwaW5nfGVufDB8fDB8fHww) ;
    background-size: cover;
}

