*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    
}

#top-nav{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    width: 100%;
    height:60px ;
}

#part1{
    display: flex;
    align-items: center;
    gap: 2px;
}

.circle1{
    width: 20px;
    height: 20px;
    border-radius: 40px;
    background-color: black;
}
.circle2{
    width: 20px;
    height: 20px;
    border-radius: 40px;
    background-color: black;
}

#part2{
    display: flex;
    gap: 40px;

}

#part2 h4{
    font-size: 20px;
    font-weight: 500;
}

#part2 h4 span{
    color: grey;
    margin-left: 20px;
}

#nav2{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:left;
    align-items: center;
    gap: 40px;
    padding: 0px 40px;
    text-transform: uppercase;
}

#nav2 h4{
    font-size: 20px;
    font-weight: 500;
}

#center{
    height:calc(100% - 170px);
    width: 100%;
}

#center1{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    
}

#center1::-webkit-scrollbar{
    background-color: transparent;
    height: 6px;
}

#center1::-webkit-scrollbar-thumb{
    background-color: orangered;
}

.elem h1{
    font-size: 80px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif
}

.elem{
    flex-shrink: 0;
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image{
    width: 100%;
    height: 50%;
    background-color: aqua;
}

