*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 10% 20% 25%;
    grid-template-rows: 20% 30% 13%;
    
}

#left-top-left{
    
     padding: 30px;
}

#square{
    width: 20px;
    height: 20px;
    background-color: black;
    rotate: 45deg;
}

#left-top-right{
    
    justify-self: right;
    text-align: right;
    padding: 20px;
}
h3{
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 500;
}

#left-top-right h5{
    font-size: 12px;
    font-weight:300 ;
}


#left-center{
    grid-column:1/3 ;  
     padding: 20px;
}

#left-center h1{
    font-size: 45px;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
}

#left-center h1:nth-child(2n){
    text-align: center;
}

#left-bottom{
    
    grid-column:1/3 ;
}

#left-bottom p{
    font-size: 10px;
    font-weight: 300;
    padding: 30px;
}

#right{
    background-color: rgb(129, 196, 251);
    grid-column: 3;
    grid-row: 1/4;
    background-position: center;
    background-size: cover;
    background-image:url(https://media.istockphoto.com/id/1513613274/photo/workplace-of-modern-it-programmer-with-desktop-computer-and-laptop.webp?s=2048x2048&w=is&k=20&c=rAqB7-WHAtRD2lTbygmnRKbbYXU1QAEc19WAs0MY21E=);
}

#arrow{
    top: 30%;
    left: 28%;
    position: absolute;
    align-items: center;
    justify-content: cenetr;
    background-color:orange ;
    padding: 15px;
    border-radius: 50%;
    color:white ;
}

#arrow i{
    font-size: 25px;
    font-weight: 500;
}

