*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 0px 70px;
    padding-top: 120px;
}

#left-top{
    height: 100%;
    width: 40%;
}

h1{
    color: black;
    height: 230px;
    font-size: 100px;
    font-weight: 400;
    line-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

#left-bottom{
    margin-top: 100px;
}

#left-bottom h3{
    font-size: 33px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    margin-top: 40px;
}

#left-bottom p{
    font-size: 17px;
    font-weight: 500;
}

#color{
    display: flex;
    align-items: center;
    gap: 2px;
    width: fit-content;
    height: 30px;
    border: 2px solid black;
    border-radius: 20px;
    padding:10px;
}

#color h5{
    font-size: 20px;
    font-weight: 100;
    padding-right: 7px;
}
.square1{
    width: 20px;
    height: 20px;
    background-color:blue;
    border-radius:20px;
}
.square2{
    width: 20px;
    height: 20px;
    background-color:red;
    border-radius:20px;
}
#right{
    width: 30%;
    height: 90%;
    background-image: url(https://media.istockphoto.com/id/1036079864/photo/confidence-leads-to-success.jpg?s=2048x2048&w=is&k=20&c=M4YgNNg6aQZqWK4Gnxqu9qB7wKbvcFvOJvIlqh2iuuo=);
    background-size: cover;
    position:relative;
}

#right-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 60px;
    padding-right:20px;
}

#right-top h4{
    font-size: 15px;
    font-weight: 400;
}
#right-top h3{
    font-size: 20px;
    font-weight: 00;
}

#circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(16, 20, 47);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right:-14% ;
    top:30%;
}

#circle h3{
    font-size: 15px;
    font-weight: 300;
}

#rotated{
    position: absolute;
    left: -10%;
    bottom: 5%;
    rotate: -90deg;
    transform-origin: 0 0;
    font-size: 22px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




    